body {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://pbs.twimg.com/media/GEJquajW4AAGfNi.jpg:large');

    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

li.due {
    background-color: #ffcccc;
}

button {
    padding: 8px 12px;
    background-color: #db1097;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7b217e;
}

.delete-btn {
    background-color: #8d159d;
}

.delete-btn:hover {
    background-color: #4123c8;
}
